/* ====================MAIN======================== */

.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ===============END MAIN============================= */

.add-new-article-btn {
  border: 1px solid grey;
  border-radius: 15px;
}
