.header {
  padding: 12px 18px;
  background: rgb(66, 129, 87);
  color: #fff;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-flow: row;
}

nav {
margin-left: auto;
}

.fixedTop {
  width: 100%;
  padding: 12px 18px;
  position: fixed;
  top: 0;
  background: rgb(251, 4, 235);
}

.no-bullets {
  list-style: none;
}


.header li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 12px;
}

.header li a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.header img {
  height: 75px;
  margin-right: 10px;
}

/*
main-block tulee laittaa aina ns body tagiin
*/
.main-block {
  padding: 16px;
  max-width: 900px;
  margin: 0 auto;
  font-size: 18px;
}

.fixedTop + .main-block {
  padding-top: 102px;
}