body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: white;
  text-align: center;
  margin-top: auto;
  padding: 0;
}

.logoFooter {
  height: 50px;
  width: 177px;
}

.someIcon {
  padding: 5px;
  text-align: left;
}

.ulFooter {
  list-style-type: none;
  text-align: left;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.icons{
  padding-top: 25px;
  padding-bottom: 25px;
}

.liFooter {
  padding: 5px;
  margin: 10px;
}

.h6Footer {
  font-weight: bolder;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 5px;
  text-align: left;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.footerLogoSection {
  background-color: gray;
  margin: 0;
}