body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: gray;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}

.logoFooter {
  height: 50px;
  width: 177px;
}

.someIcon {
  padding: 10px;
}

.someIconsContainer {
  margin-left: 0;
  padding-left: 0;
}

.footerH5 {
  font-weight: bolder;
  margin-top: 10px;
}